body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: rgb(250, 251, 199);
}
    
.cabecera{
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
    height: 60px;
    background: rgb(255, 166, 0);
    transform:skewY(-3deg);
}
nav {
    background-color:aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 30px;
    padding: 0;
}
li{
    padding: 10px;
}
li:hover{
    background-color: black;
    color:white;
}
h1{
    text-align:center;
    color:aqua;
    font-family:'Piedras preciosas Rubik', Courier, monospace;
    font-weight: bolder;
    padding: 0.8%;
}
.foto img{
    position: absolute;
    padding: 10%;
    bottom: -20%;
    right: -2%;
    width: 250px;
    height:250px;
    border-radius: 100%; 
}
.informacion {
    width: 90%;
    height: auto;
    background: #a9d6e5;
    margin: 3% auto;
    padding: 20px;
    border-radius: 20px;
}
.informacion .Titulo{
    color: black; 
    font-family: 'Baloo Tema 2','Times New Roman', Times, serif;
    font-size:xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 4px blue dashed;
}  
.informacion .contenido .campo{
    color:black;   
    font-family: 'Baloo Tema 2','Times New Roman';
    font-weight: bolder;
    font-size: large;
    margin: 20px;
    margin-right: 10px;
    line-height: 50px;
    display:inline;
}
.informacion .contenido .dato{
    color:#392f5a;   
    font-family: 'Baloo Tema 2','Times New Roman';
    font-weight: normal;
    font-size: large;
    display: inline;
}
h2{
    text-align:center;
    color:rgba(146, 4, 16, 0.977);
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif, Courier, monospace;
    font-weight: bolder;
    padding: 0.8%;
}
.informacion .historia{
    width: 100%;
    height: auto;
    background: rgb(255, 166, 0);
    text-align: justify;
    font-family:monospace;
    font-size:large;
    line-height: 30px;
}
.redaccion{
    margin: 20PX;
}
.tabla{
    margin:50px 0;
}
.tabla tr, th {
    background: #00a6ff;
    color: #ffffff;
}
.tabla th,td{
    padding: 10px;
}
.table tr, th{
    background: #0048ff;
    text-align: center;
    color:#fa0519;
}
.button1{
     
        text-align: center;
        text-decoration: none;
        font-family: fantasy;
        padding: 10px;
        border-radius: 50px;
}

.formulario{
       padding: 10px 20px;
}

.row{
    text-align: center;  
}
.button2{
    text-align: center;
}
.Titulo {
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
    height: 60px;
    background: rgb(255, 166, 0);
}
