body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(250, 251, 199);
}
.Galeria{
    font-family: 'open sans';
}
.Galeria h1{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 20px;
    width: 100%;
    height: 60px;
    background: rgb(255, 166, 0);
    
}

.linea{
    border-bottom: 4px blue dashed;
    margin-bottom: 40px;
}
.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 20px;

  /*  width: 90%;
    height: auto;
    background: #a9d6e5;
    margin: 3% auto;
    padding: 20px;
    border-radius: 20px;*/


}
.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:250px;
    margin-bottom:5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 118, 192, 0.781);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}
.overlay h2{
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.imagen:hover .overlay{
    height: 100%;
    cursor:pointer;
}
@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}
@media screen and (max-width:700px){
    .contendor-imagenes{
        width: 90%;
    }
    .contendor-imagenes .imagen{
        width: 48%;
    }
}
@media screen and (max-width:450px){
    h1{
        font-size: 22px;
    }
    .contendor-imagenes{
        width: 98%;
    }
    .contendor-imagenes .imagen{
        width: 88%;
    }
}
/*.button {
    background: #7f8c8d; 
  /*  text-align: center;
       
    font-size:1.25em;
    margin: 20px;
    padding: 20px 0px;
   
    width: 10%;
    
    text-decoration: none;
    box-shadow: 0px 3px 0px #373c3c;*/
  /*  border-radius: 50px*/

   
/*}*/
.button1{
    
    text-align: center;
    
    margin: 20px;
    padding: 10px 0px;
   
}

    