/*.Galeria{
   /* position: absolute;
    /* padding: 10%;
     bottom: -20%;
     right: -2%;*/
  /*  width: 283px;
     height:220px;
     object-fit: cover;
     object-position: center;
     padding: 6px;
     border-radius: 32px;*/
 /*   width: 283px;
height: 201px;

background: url(Aluminio1.jpg);
border-radius: 32px;

 /*Inside auto layout */
/*flex: none;
order: 1;
flex-grow: 0;*/

 }
 /*.Galeria:horve {
cursor: pointer;
opacity: 0.7;
transform: scale(1.05);
transform: rotate(-1.2deg) scale(1.05);
transition: 0.6s ease-out;
filter: grayscale(0.9);
 }
 /* Aluminio1 1 */

/*width: 283px;
height: 201px;

background: url(Aluminio1.jpg);
border-radius: 32px;

/* Inside auto layout */
/*flex: none;
order: 1;
flex-grow: 0;*/
div.Galeria{
    margin: 10px 20px;
    box-shadow:  4px 8px 0 lightblue, 0 6px 20px 0 rgb(0,0,0,0.19);
float: left;
/*width: 350px;*/
}
div.Galeria img{
    width: 300px;
    height: 200px;
}
div.Galeria:hover{
border: 1px solid lightcoral;
transform: rotate(3deg);

}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;

/* Frame 1 */

/* Auto layout */
/*display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 10px;

/*position: relative;
width: 889px;
height: 518px;

background: #FFFFFF;*/


/* Gypsum2 1 */

/*width: 283px;
height: 201px;

background: url(Gypsum2.jpg);
border-radius: 32px;

/* Inside auto layout */
/*flex: none;
order: 0;
flex-grow: 0;


/* Aluminio1 1 */

/*width: 283px;
height: 201px;

background: url(Aluminio1.jpg);
border-radius: 32px;

/* Inside auto layout */
/*flex: none;
order: 1;
flex-grow: 0;


/* Gypsum3 1 */

/*box-sizing: border-box;

width: 283px;
height: 201px;

background: url(Gypsum3.jpg);
border: 2px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 32px;

/* Inside auto layout */
/*flex: none;
order: 2;
flex-grow: 0;


/* Gypsum1 1 */

/*box-sizing: border-box;

width: 283px;
height: 201px;

background: url(Gypsum1.jpg);
border-radius: 32px;

/* Inside auto layout */
/*flex: none;
order: 3;
flex-grow: 0;

